<% include ../partials/boilerplate %>

<h1>Login</h1>
<form class="auth-form" method='POST' action='/auth/login'>
  <label>Username:</label>
  <input name='username' type='text' placeholder='username' required />
  </br>
  <label>Password:</label>
  <input name='password' type='password' placeholder='password' required />
  </br>
  <input class="button" type='submit' value='Log in!' />
</form>

<% if (errors) { %>
  <p class="error"><%= errors %></p>
<% } %>

<script src="/src/login-main.js"></script>

<% include ../partials/end %>
