
<% include ../partials/boilerplate %>

<h1>Register</h1>
<form class='auth-form' method='POST' action='/auth/register'>
  <label>Username: </label>
  <input name='username' type='text' placeholder='username' required />
  <br>
  <label>Password: </label>
  <input name='password' type='password' placeholder='password' required />
  <br>
  <input class='button' type='submit' value='Register!' />
</form>

<% include ../partials/end %>
