<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <link rel='stylesheet' type='text/css' href='/styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='/styles/style.css'>
  <title>The New York Times' Movie Reviews Application</title>
</head>
<body>
  <nav>
    <a href="/movie-reviews/">Home</a>
    </br>
    <a href="/auth/login">Login</a>
    </br>
    <a href="/auth/logout">Logout</a>
    </br>
    <a href="/auth/register">Register</a>
  </nav>

