<% include ../partials/boilerplate %>

<h1>Enter Comment</h1>

<form action="/comments" method="POST">
  <label for="movie_title">Movie Title</label>
  <input id="movie_title" type="text" name="movie_title" />

  <br />

  <label for="comment">Comment</label>
  <textarea name="comment" cols="40" rows="5"></textarea>
  <br />

  <input type="submit" value="Create the comment!" />
</form>

<a href="index">Cancel</a>

<% include ../partials/end %>
