<% include ./partials/boilerplate %>

<h1>The New York Times' Movie Reviews Application</h1>

<form id='request' action="/movie-reviews/show" method="POST">
  <h2>
    <input id='movie' type='text' name='movieTitle' placeholder='Movie Title' />
    <input id='submit' type='submit' value='Submit' />
  </h2>
</form>

<h3><%= movieReviewMessage %></h3>

<p><a href="/auth/login">Login</a> <a href="/auth/logout">Logout</a>

<script src="/src/main.js"></script>

<% include ./partials/end %>
