<% include ./partials/boilerplate %>

<h1>The New York Times' Movie Reviews Application</h1>
<div class="nytimes-symbol">
  <img src="../images/poweredby_nytimes_150a.png" />
</div>
<form id='request' action="/movie-reviews/show" method="POST">
  <h2>
    <input id='movie' type='text' name='movieTitle' placeholder='Movie Title' />
    <input id='submit' type='submit' value='Submit' />
  </h2>
</form>

<h2 class="movie-review-message"><%= movieReviewMessage %></h2>

<script src="/src/main.js"></script>

<% include ./partials/end %>
